.input-wrap {
  width: 100%;
  padding: 4px;
  text-align: left;
  display: flex;
  flex-direction: column-reverse;
}
.input-icon-wrap {
  position: relative;
}
.input {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  display: block;
  cursor: pointer;
  min-height: 24px;
}

.input[type='radio'] {
  display: none;
}

.input[type='radio'] ~ .label {
  cursor: pointer;
  user-select: none;
}

.input[type='radio'] ~ .label::before {
  content: '';
  display: inline-block;
  width: 20px;
  padding-bottom: 20px;
  background-color: aliceblue;
  margin-right: 8px;
}

.input[type='radio']:checked ~ .label::before {
  background-color: olivedrab;
}

.input.icon {
  padding-left: 30px;
}

.input ~ .icon {
  width: auto;
  max-height: 24px;
  position: absolute;
  stroke: #000;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
