.input-wrap {
  width: 100%;
  padding: 4px;
  text-align: left;
  display: flex;
  flex-direction: column-reverse;
}

.input {
  width: 100%;
  text-align: left;
  display: block;
  cursor: pointer;
}

.input[type='radio'] {
  display: none;
}

.input[type='radio'] ~ .label {
  cursor: pointer;
  user-select: none;
}

.input[type='radio'] ~ .label::before {
  content: '';
  display: inline-block;
  width: 20px;
  padding-bottom: 20px;
  background-color: aliceblue;
  margin-right: 8px;
}

.input[type='radio']:checked ~ .label::before {
  background-color: olivedrab;
}

